* {
    margin: 0;
    padding: 0;
  }
  .draggable {
    transition: all 0.3s ease-out;
  }
  
.draggable {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    border: 1px solid red;
  }
  
  .dropzone {
    width: 100vh;
    height: 200px;
    border: 2px solid black;
    float: left;
    margin: 10px;

  }
